<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DatabaseName</key>
	<string>Masterarbeit</string>
	<key>LastBackup</key>
	<date>2015-08-08T10:11:12Z</date>
	<key>PropertyModification</key>
	<date>2015-08-08T10:11:12Z</date>
	<key>SearchComparison</key>
	<integer>1</integer>
	<key>SearchGlobal</key>
	<true/>
	<key>SearchPrefix</key>
	<true/>
	<key>SearchWhat</key>
	<integer>65535</integer>
	<key>Spotlight</key>
	<true/>
	<key>isOpen</key>
	<true/>
	<key>openedByHost</key>
	<data>
	ZHa6mF8Q
	</data>
</dict>
</plist>
